/*Mixins*/
/*Var*/
/*main css*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

header {
  position: relative;
}

header .figure1 {
  width: 555px;
  height: 82px;
  opacity: 0.85;
}

header .headP {
  position: absolute;
  top: 20px;
  left: 31px;
  width: 494px;
  height: 30px;
  text-align: left;
  font: 16px/21px Futura, Tahoma, sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
}

header .image-block {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

header .tree {
  position: absolute;
  top: 200px;
  right: 140px;
  width: 367px;
  height: 599px;
  z-index: 3;
}

header .header-mark {
  position: relative;
  top: -30px;
  right: -120px;
  width: 672px;
  height: 1026px;
}

header .top-header {
  position: absolute;
  top: 250px;
  left: 135px;
  width: 852px;
  height: 273px;
  text-align: left;
  font: bold 74px/84px "Playfair Display", Tahoma, sans-serif;
  color: #474749;
}

header .top-line {
  position: absolute;
  top: 594px;
  left: 135px;
  width: 530px;
  height: 0px;
  border: 3px solid #474749;
}

header .top-text {
  position: absolute;
  top: 581px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 18px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-mark {
  position: absolute;
  top: 854px;
  left: 0px;
  width: 551px;
  height: 825px;
}

main .main-header1 {
  position: absolute;
  top: 694px;
  left: 695px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link1 {
  position: absolute;
  top: 762px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header2 {
  position: absolute;
  top: 861px;
  left: 695px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link2 {
  position: absolute;
  top: 923px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header3 {
  position: absolute;
  top: 1012px;
  left: 695px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link3 {
  position: absolute;
  top: 1048px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header4 {
  position: absolute;
  top: 1107px;
  left: 695px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link4 {
  position: absolute;
  top: 1138px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header5 {
  position: absolute;
  top: 1196px;
  left: 695px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link5 {
  position: absolute;
  top: 1229px;
  left: 695px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header6 {
  position: absolute;
  top: 1097px;
  left: 1255px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link6 {
  position: absolute;
  top: 1130px;
  left: 1255px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header7 {
  position: absolute;
  top: 1219px;
  left: 1255px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link7 {
  position: absolute;
  top: 1254px;
  left: 1255px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header8 {
  position: absolute;
  top: 1313px;
  left: 1255px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link8 {
  position: absolute;
  top: 1347px;
  left: 1255px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header9 {
  position: absolute;
  top: 1436px;
  left: 1255px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link9 {
  position: absolute;
  top: 1466px;
  left: 1255px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .main-header10 {
  position: absolute;
  top: 1527px;
  left: 1255px;
  width: 530px;
  height: 63px;
  text-align: left;
  color: #474749;
}

main .main-link10 {
  position: absolute;
  top: 1561px;
  left: 1255px;
  width: 530px;
  height: 55px;
  text-align: left;
  font: 20px/30px Futura, Tahoma, sans-serif;
  color: #474749;
}

main .image-left {
  position: absolute;
  top: 1722px;
  left: 43px;
  width: 440px;
  height: 395px;
  z-index: 3;
}

main .image-middle {
  position: absolute;
  top: 1716px;
  left: 561px;
  width: 531px;
  height: 401px;
  z-index: 3;
}

main .image-right {
  position: absolute;
  top: 1722px;
  left: 1142px;
  width: 759px;
  height: 395px;
  z-index: 3;
}

nav {
  position: absolute;
  width: 100%;
}

nav .nav-bg {
  position: absolute;
  background-image: url("../images/bg-main.png");
  top: 1977px;
  height: 1280px;
  width: 100%;
}

nav .content {
  position: absolute;
  top: 2191px;
  left: 135px;
  width: 670px;
  height: 79px;
  text-align: left;
  font: 72px/82px "Playfair Display", Tahoma, sans-serif;
  letter-spacing: 0;
  color: #474749;
}

nav .lineNav {
  position: absolute;
  top: 2329px;
  left: 135px;
  width: 531px;
  height: 0px;
  border: 3px solid #474749;
}

nav .contMain {
  position: relative;
  top: 2387px;
  width: 100%;
}

nav .contMain .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
}

nav .contMain .container .townPlanning, nav .contMain .container .accesProblem, nav .contMain .container .futureStreet, nav .contMain .container .links {
  height: 580px;
  width: 21.5%;
  margin-right: 15px;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

nav .contMain .container .townPlanning:hover, nav .contMain .container .accesProblem:hover, nav .contMain .container .futureStreet:hover, nav .contMain .container .links:hover {
  outline: 3px solid grey;
}

nav .contMain .container .townPlanning:active, nav .contMain .container .accesProblem:active, nav .contMain .container .futureStreet:active, nav .contMain .container .links:active {
  border: 5px solid grey;
  -webkit-box-shadow: 3px 3px 5px 5px darkgrey;
  box-shadow: 3px 3px 5px 5px darkgrey;
  border-radius: 5px;
}

nav .contMain .container .townPlanning {
  background: transparent url("../images/Group 011.svg") 50% 50% no-repeat padding-box;
}

nav .contMain .container .townPlanning > img {
  display: block;
  width: 191px;
  height: 208px;
  margin: 75px auto 35px auto;
}

nav .contMain .container .townPlanning > p {
  text-align: center;
  font: bold 32px/39px "Playfair Display", Tahoma, sans-serif;
  color: #474749;
}

nav .contMain .container .accesProblem {
  background: transparent url("../images/Group 012.svg") 70% 60% no-repeat padding-box;
}

nav .contMain .container .accesProblem > img {
  display: block;
  width: 191px;
  height: 208px;
  margin: 75px auto 35px auto;
}

nav .contMain .container .accesProblem > p {
  text-align: center;
  font: bold 32px/39px "Playfair Display", Tahoma, sans-serif;
  color: #474749;
}

nav .contMain .container .futureStreet {
  background: transparent url("../images/Group 013.svg") 70% 50% no-repeat padding-box;
}

nav .contMain .container .futureStreet > img {
  display: block;
  width: 191px;
  height: 208px;
  margin: 75px auto 35px auto;
}

nav .contMain .container .futureStreet > p {
  text-align: center;
  font: bold 32px/39px "Playfair Display", Tahoma, sans-serif;
  color: #474749;
}

nav .contMain .container .links {
  background: transparent url("../images/Group 014.svg") 30% 50% no-repeat padding-box;
}

nav .contMain .container .links > img {
  display: block;
  width: 135px;
  height: 208px;
  margin: 75px auto 35px auto;
}

nav .contMain .container .links > p {
  text-align: center;
  font: bold 32px/39px "Playfair Display", Tahoma, sans-serif;
  color: #474749;
}

footer {
  position: relative;
  width: 100%;
}

footer .figure5 {
  position: absolute;
  top: 3016px;
  right: 0px;
  width: 482px;
  height: 189px;
}

footer .footer {
  position: absolute;
  width: 100%;
  top: 3206px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #474749;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .visitMain, footer .copyright, footer .backTop {
  margin: 0 20px;
  padding: 10px;
  font: 16px/21px Futura, Tahoma, sans-serif;
  letter-spacing: 0;
  color: #FCFCFC;
}

footer .visitMain > a, footer .backTop > a {
  font: 16px/21px Futura, Tahoma, sans-serif;
  letter-spacing: 0;
  color: #FCFCFC;
  text-decoration: none;
}

/* Adaptive */
@media (min-width: 1620px) and (max-width: 1790px) {
  header .tree {
    width: 257px;
    height: 429px;
  }
  header .header-mark {
    width: 512px;
    height: 776px;
  }
  header .top-line {
    left: 55px;
    width: 430px;
  }
  header .top-text {
    left: 545px;
  }
  main .main-header1, main .main-link1, main .main-header2, main .main-link2, main .main-header3, main .main-link3 {
    left: 545px;
  }
  main .main-header4, main .main-link4, main .main-header5, main .main-link5 {
    left: 545px;
  }
  main .main-header6, main .main-link6, main .main-header7, main .main-link7, main .main-header8, main .main-link8 {
    left: 1105px;
    width: 520px;
  }
  main .main-header9, main .main-link9, main .main-header10, main .main-link10 {
    left: 1105px;
    width: 520px;
  }
  main .image-left {
    top: 1742px;
    width: 400px;
    height: 355px;
  }
  main .image-middle {
    top: 1736px;
    left: 441px;
    width: 478px;
    height: 360px;
  }
  main .image-right {
    top: 1742px;
    left: 952px;
    width: 654px;
    height: 355px;
  }
}

@media (min-width: 1250px) and (max-width: 1620px) {
  header .figure1 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  header .headP {
    font: 17px/21px Futura, Tahoma, sans-serif;
  }
  header .tree {
    top: 140px;
    right: 98px;
    width: 257px;
    height: 419px;
  }
  header .header-mark {
    top: -32px;
    right: -90px;
    width: 470px;
    height: 718px;
  }
  header .top-header {
    top: 175px;
    left: 95px;
    width: 595px;
    height: 191px;
    font: bold 52px/59px "Playfair Display", Tahoma, sans-serif;
  }
  header .top-line {
    top: 415px;
    left: 95px;
    width: 371px;
    border: 2px solid #474749;
  }
  header .top-text {
    top: 407px;
    left: 487px;
    width: 390px;
    height: 39px;
    font: 15px/24px Futura, Tahoma, sans-serif;
  }
  main .main-mark {
    top: 595px;
    width: 385px;
    height: 577px;
  }
  main .main-header1, main .main-link1, main .main-header2, main .main-link2, main .main-header3, main .main-link3 {
    left: 487px;
    width: 390px;
  }
  main .main-header4, main .main-link4, main .main-header5, main .main-link5 {
    left: 487px;
    width: 390px;
  }
  main .main-header6, main .main-link6, main .main-header7, main .main-link7, main .main-header8, main .main-link8 {
    left: 877px;
    width: 390px;
  }
  main .main-header9, main .main-link9, main .main-header10, main .main-link10 {
    left: 877px;
    width: 390px;
  }
  main .main-header1 {
    top: 485px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link1 {
    top: 533px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header2 {
    top: 602px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link2 {
    top: 646px;
    height: 39px;
    font: 13.5px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header3 {
    top: 708px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link3 {
    top: 734px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header4 {
    top: 775px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link4 {
    top: 797px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header5 {
    top: 837px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link5 {
    top: 860px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header6 {
    top: 767px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link6 {
    top: 791px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header7 {
    top: 853px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link7 {
    top: 878px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header8 {
    top: 919px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link8 {
    top: 943px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header9 {
    top: 1005px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link9 {
    top: 1026px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header10 {
    top: 1069px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link10 {
    top: 1093px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .image-left {
    top: 1205px;
    left: 10px;
    width: 300px;
    height: 277px;
  }
  main .image-middle {
    top: 1201px;
    left: 323px;
    width: 371px;
    height: 280px;
  }
  main .image-right {
    top: 1205px;
    left: 710px;
    width: 530px;
    height: 277px;
  }
  nav .nav-bg {
    top: 1358px;
    height: 870px;
  }
  nav .content {
    top: 1500px;
    left: 67px;
    width: 347px;
    height: 39px;
    font: bold 35px/40px "Playfair Display", Tahoma, sans-serif;
  }
  nav .lineNav {
    top: 1600px;
    left: 67px;
    width: 372px;
    border: 2px solid #474749;
  }
  nav .contMain {
    top: 1640px;
  }
  nav .contMain .container .townPlanning, nav .contMain .container .accesProblem, nav .contMain .container .futureStreet, nav .contMain .container .links {
    height: 405px;
    width: 21.5%;
    margin-right: 10px;
    padding: 5px;
  }
  nav .contMain .container .townPlanning:hover, nav .contMain .container .accesProblem:hover, nav .contMain .container .futureStreet:hover, nav .contMain .container .links:hover {
    outline: 2px solid grey;
  }
  nav .contMain .container .townPlanning:active, nav .contMain .container .accesProblem:active, nav .contMain .container .futureStreet:active, nav .contMain .container .links:active {
    border: 4px solid grey;
    -webkit-box-shadow: 2px 2px 4px 4px darkgrey;
    box-shadow: 2px 2px 4px 4px darkgrey;
    border-radius: 5px;
  }
  nav .contMain .container .townPlanning {
    background-size: 250px 350px;
  }
  nav .contMain .container .townPlanning > img {
    display: block;
    width: 134px;
    height: 145px;
    margin: 52px auto 24px auto;
  }
  nav .contMain .container .townPlanning > p {
    text-align: center;
    font: bold 22px/27px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .accesProblem {
    background-size: 250px 350px;
  }
  nav .contMain .container .accesProblem > img {
    display: block;
    width: 134px;
    height: 145px;
    margin: 52px auto 24px auto;
  }
  nav .contMain .container .accesProblem > p {
    text-align: center;
    font: bold 22px/27px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .futureStreet {
    background-size: 250px 350px;
  }
  nav .contMain .container .futureStreet > img {
    display: block;
    width: 134px;
    height: 145px;
    margin: 52px auto 24px auto;
  }
  nav .contMain .container .futureStreet > p {
    text-align: center;
    font: bold 22px/27px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .links {
    background-size: 250px 350px;
  }
  nav .contMain .container .links > img {
    display: block;
    width: 95px;
    height: 145px;
    margin: 52px auto 24px auto;
  }
  nav .contMain .container .links > p {
    text-align: center;
    font: bold 22px/27px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  footer .figure5 {
    top: 2080px;
    width: 337px;
    height: 132px;
  }
  footer .footer {
    top: 2213px;
    height: 35px;
  }
  footer .visitMain, footer .copyright, footer .backTop {
    margin: 0 14px;
    padding: 7px;
    font: 12px/15px Futura, Tahoma, sans-serif;
  }
  footer .visitMain > a, footer .backTop > a {
    font: 12px/15px Futura, Tahoma, sans-serif;
  }
}

@media (min-width: 760px) and (max-width: 1250px) {
  header .figure1 {
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  header .headP {
    font: 17px/21px Futura, Tahoma, sans-serif;
  }
  header .tree {
    top: 70px;
    right: 58px;
    width: 180px;
    height: 293px;
  }
  header .header-mark {
    top: -22px;
    right: -64px;
    width: 329px;
    height: 502px;
  }
  header .top-header {
    top: 80px;
    left: 25px;
    width: 415px;
    height: 133px;
    font: bold 36px/41px "Playfair Display", Tahoma, sans-serif;
  }
  header .top-line {
    top: 180px;
    left: 25px;
    width: 255px;
    border: 2px solid #474749;
  }
  header .top-text {
    top: 210px;
    left: 100px;
    width: 390px;
    height: 39px;
    font: 15px/24px Futura, Tahoma, sans-serif;
  }
  main .main-mark {
    top: 500px;
    width: 185px;
    height: 277px;
  }
  main .main-header1, main .main-link1, main .main-header2, main .main-link2, main .main-header3, main .main-link3 {
    left: 100px;
    width: 390px;
  }
  main .main-header4, main .main-link4, main .main-header5, main .main-link5 {
    left: 100px;
    width: 390px;
  }
  main .main-header6, main .main-link6, main .main-header7, main .main-link7, main .main-header8, main .main-link8 {
    left: 100px;
    width: 390px;
  }
  main .main-header9, main .main-link9, main .main-header10, main .main-link10 {
    left: 100px;
    width: 390px;
  }
  main .main-header1 {
    top: 285px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link1 {
    top: 333px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header2 {
    top: 402px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link2 {
    top: 446px;
    height: 39px;
    font: 13.5px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header3 {
    top: 508px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link3 {
    top: 534px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header4 {
    top: 575px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link4 {
    top: 597px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header5 {
    top: 637px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link5 {
    top: 660px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header6 {
    top: 717px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link6 {
    top: 741px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header7 {
    top: 803px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link7 {
    top: 828px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header8 {
    top: 869px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link8 {
    top: 893px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header9 {
    top: 955px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link9 {
    top: 976px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .main-header10 {
    top: 1019px;
    height: 44px;
    font-size: 19px;
  }
  main .main-link10 {
    top: 1043px;
    height: 39px;
    font: 14px/21px Futura, Tahoma, sans-serif;
  }
  main .image-left {
    top: 1125px;
    left: 10px;
    width: 150px;
    height: 137px;
  }
  main .image-middle {
    top: 1121px;
    left: 170px;
    width: 211px;
    height: 130px;
  }
  main .image-right {
    top: 1125px;
    left: 330px;
    width: 350px;
    height: 127px;
  }
  nav .nav-bg {
    top: 1147px;
    height: 530px;
  }
  nav .content {
    top: 1200px;
    left: 75px;
    width: 369px;
    height: 35px;
    font: bold 40px/47px "Playfair Display", Tahoma, sans-serif;
  }
  nav .lineNav {
    top: 1270px;
    left: 75px;
    width: 272px;
    border: 1px solid #474749;
  }
  nav .contMain {
    top: 1278px;
  }
  nav .contMain .container .townPlanning, nav .contMain .container .accesProblem, nav .contMain .container .futureStreet, nav .contMain .container .links {
    height: 305px;
    width: 21.5%;
    margin-right: 5px;
    padding: 3px;
  }
  nav .contMain .container .townPlanning:hover, nav .contMain .container .accesProblem:hover, nav .contMain .container .futureStreet:hover, nav .contMain .container .links:hover {
    outline: 1px solid grey;
  }
  nav .contMain .container .townPlanning:active, nav .contMain .container .accesProblem:active, nav .contMain .container .futureStreet:active, nav .contMain .container .links:active {
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 2px 2px darkgrey;
    box-shadow: 1px 1px 2px 2px darkgrey;
    border-radius: 3px;
  }
  nav .contMain .container .townPlanning {
    background-size: 150px 250px;
  }
  nav .contMain .container .townPlanning > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .townPlanning > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .accesProblem {
    background-size: 150px 250px;
  }
  nav .contMain .container .accesProblem > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .accesProblem > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .futureStreet {
    background-size: 150px 250px;
  }
  nav .contMain .container .futureStreet > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .futureStreet > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .links {
    background-size: 150px 250px;
  }
  nav .contMain .container .links > img {
    display: block;
    width: 75px;
    height: 110px;
    margin: 72px auto 24px auto;
  }
  nav .contMain .container .links > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  footer .figure5 {
    top: 1590px;
    width: 237px;
    height: 82px;
  }
  footer .footer {
    top: 1673px;
    height: 25px;
  }
  footer .visitMain, footer .copyright, footer .backTop {
    margin: 0 5px;
    padding: 3px;
    font: 10px/12px Futura, Tahoma, sans-serif;
  }
  footer .visitMain > a, footer .backTop > a {
    font: 10px/12px Futura, Tahoma, sans-serif;
  }
}

@media (min-width: 0px) and (max-width: 760px) {
  header .figure1 {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  header .headP {
    font: 17px/21px Futura, Tahoma, sans-serif;
  }
  header .tree {
    top: 20px;
    right: 28px;
    width: 80px;
    height: 143px;
  }
  header .header-mark {
    top: -20px;
    right: -20px;
    width: 129px;
    height: 202px;
  }
  header .top-header {
    top: 70px;
    left: 10px;
    width: 350px;
    height: 103px;
    font: bold 30px/35px "Playfair Display", Tahoma, sans-serif;
  }
  header .top-line {
    top: 150px;
    left: 10px;
    width: 205px;
    border: 1px solid #474749;
  }
  header .top-text {
    top: 175px;
    left: 7px;
    width: 340px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-mark {
    top: 500px;
    width: 145px;
    height: 207px;
  }
  main .main-header1, main .main-link1, main .main-header2, main .main-link2, main .main-header3, main .main-link3 {
    left: 7px;
    width: 340px;
  }
  main .main-header4, main .main-link4, main .main-header5, main .main-link5 {
    left: 7px;
    width: 340px;
  }
  main .main-header6, main .main-link6, main .main-header7, main .main-link7, main .main-header8, main .main-link8 {
    left: 7px;
    width: 340px;
  }
  main .main-header9, main .main-link9, main .main-header10, main .main-link10 {
    left: 7px;
    width: 340px;
  }
  main .main-header1 {
    top: 235px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link1 {
    top: 283px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header2 {
    top: 352px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link2 {
    top: 396px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header3 {
    top: 458px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link3 {
    top: 484px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header4 {
    top: 525px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link4 {
    top: 547px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header5 {
    top: 587px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link5 {
    top: 610px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header6 {
    top: 652px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link6 {
    top: 676px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header7 {
    top: 723px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link7 {
    top: 748px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header8 {
    top: 779px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link8 {
    top: 803px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header9 {
    top: 855px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link9 {
    top: 876px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .main-header10 {
    top: 909px;
    height: 44px;
    font-size: 16px;
  }
  main .main-link10 {
    top: 933px;
    height: 39px;
    font: 13px/19px Futura, Tahoma, sans-serif;
  }
  main .image-left {
    top: 1025px;
    left: 3px;
    width: 90px;
    height: 69px;
  }
  main .image-middle {
    top: 1031px;
    left: 93px;
    width: 105px;
    height: 65px;
  }
  main .image-right {
    top: 1035px;
    left: 180px;
    width: 175px;
    height: 63px;
  }
  nav .nav-bg {
    top: 1005px;
    height: 730px;
  }
  nav .content {
    top: 1050px;
    left: 5px;
    width: 300px;
    height: 25px;
    font: bold 22px/28px "Playfair Display", Tahoma, sans-serif;
  }
  nav .lineNav {
    top: 1100px;
    left: 5px;
    width: 172px;
    border: 1px solid #474749;
  }
  nav .contMain {
    top: 1110px;
  }
  nav .contMain .container .townPlanning, nav .contMain .container .accesProblem, nav .contMain .container .futureStreet, nav .contMain .container .links {
    height: 280px;
    width: 43%;
    margin-right: 5px;
    padding: 3px;
  }
  nav .contMain .container .townPlanning:hover, nav .contMain .container .accesProblem:hover, nav .contMain .container .futureStreet:hover, nav .contMain .container .links:hover {
    outline: 1px solid grey;
  }
  nav .contMain .container .townPlanning:active, nav .contMain .container .accesProblem:active, nav .contMain .container .futureStreet:active, nav .contMain .container .links:active {
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 2px 2px darkgrey;
    box-shadow: 1px 1px 2px 2px darkgrey;
    border-radius: 3px;
  }
  nav .contMain .container .townPlanning {
    background-size: 150px 250px;
  }
  nav .contMain .container .townPlanning > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .townPlanning > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .accesProblem {
    background-size: 150px 250px;
  }
  nav .contMain .container .accesProblem > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .accesProblem > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .futureStreet {
    background-size: 150px 250px;
  }
  nav .contMain .container .futureStreet > img {
    display: block;
    width: 104px;
    height: 110px;
    margin: 72px auto 14px auto;
  }
  nav .contMain .container .futureStreet > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  nav .contMain .container .links {
    background-size: 150px 250px;
  }
  nav .contMain .container .links > img {
    display: block;
    width: 75px;
    height: 110px;
    margin: 72px auto 24px auto;
  }
  nav .contMain .container .links > p {
    text-align: center;
    font: bold 14px/17px "Playfair Display", Tahoma, sans-serif;
    color: #474749;
  }
  footer .figure5 {
    top: 1657px;
    width: 207px;
    height: 72px;
  }
  footer .footer {
    top: 1730px;
    height: 25px;
  }
  footer .visitMain, footer .copyright, footer .backTop {
    margin: 0 5px;
    padding: 3px;
    font: 8px/10px Futura, Tahoma, sans-serif;
  }
  footer .visitMain > a, footer .backTop > a {
    font: 8px/10px Futura, Tahoma, sans-serif;
  }
}
